*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: white;
}
body{
    background:linear-gradient(to left,blue, black);
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    color: white;
    background-color: black;
    text-decoration: none;
    width: 70px;
}